//VARIABLES BECAUSE CSS PREPROCESSORS ARE COOL
$gray: #555;
$yellow: #f2e968;
$white: #efefef;
$font-color:#fff;
$slider-icon-color:#4186ad;
$border-color: #c8c4c0;
$slicks-background-color: #f15c02;
$slicks-button-color: #858585;

body {
  -ms-overflow-style: none; /* IE 11 */
   scrollbar-width: none; /* Firefox 64 */
   
}

//GET THE GOOGLE FONT SPECIMEN
@import url(https://fonts.googleapis.com/css?family=Rubik);

body,
html {
  color: $font-color;
  text-align: center;
  background: $font-color;
  font-family: Helvetica, sans-serif;
  margin: 0;
}

.grid-container {
  background: $white;
  font-family: 'Rubik', sans-serif;
}

//ENABLE CSS GRID FOR LIFT OFF  🚀
@supports(display: grid) {

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    
    //Let the craziness begin!!!
    grid-template-areas:
      "header header header"
      "title title footer"
      "main main main";
    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
      grid-template-rows: 0.3fr 1fr auto 1fr;
      grid-template-areas: 
        "header"
        "title"
        "main"
        "footer";
    }
  }

  .grid-item {
    color: $font-color;
    background: skyblue;
    padding: 3.5em 1em;
    font-size: 1em;
    font-weight: 700;
  }
  
  .header {
    background-color: darken(skyblue, 60%);
    grid-area: header;
    padding: 1em;
  }
  .slider-left-icon{
    font-size: 32px;
    color: $slider-icon-color;
    padding: 14px 8px;
    margin-left: 12px;
    border: solid 1px $border-color;
  }
  .slider-right-icon  {
    font-size: 32px;
    color:$slider-icon-color;
    padding: 14px 8px;
    margin-right: 5px;
    border: solid 1px $border-color;
  }
  
  .title {
    color: $gray;
    background-color: lighten(skyblue, 25%);
    grid-area: title;
  }

  .main {
    color: lighten($gray, 25%);
    background-color: lighten(skyblue, 60%);
    grid-area: main;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  
  .footer {
    background-color: darken(skyblue, 10%);
    grid-area: footer;
    padding: 0.6em;
  }
  .container {
    display: flex;
    align-items: center;
    position: relative;
    background: gainsboro;
}

  .items {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
      -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
  }

  .items::-webkit-scrollbar{
    display: none;
    background: transparent;
  }

  .item {
    display: inline-block;
    background: $font-color;
    min-height: 250px;
    min-width: 400px;
    margin: 20px;
    @media screen and (max-width: 500px) {
      min-height: 200px;
      min-width: 200px;
    }
  }
}


a {
  display: block;
  color: lighten(skyblue, 15%);
  text-decoration: underline;
  margin: 1em auto;
  &:hover {
    cursor: pointer;
  }
}

p {
  text-align: left;
  text-indent: 20px;
  font-weight: 100;
}

i {
  color: skyblue;
}

.slicks{
  position: absolute;
  bottom: 10px;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slicks li{
  list-style: none;
  position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slicks li button{
  border-width: 2px;
    font-size: 0;
    line-height: 0;
    display: block;
    padding: 3px;
    cursor: pointer;
    color: transparent;
    border: 1px solid $slicks-button-color;
    border-radius: 50%;
    outline: 0;
    background: 0 0;
}

.slicks li button.active{
    background: $slicks-background-color;
    border: 2px solid $slicks-background-color;
}